.best-selling-heading {
  text-align: center;
  margin: 40px 0px;
}
.best-selling-heading h2 {
  font-size: 2.625rem;
  font-weight: 700;
}
.products-container {
  display: flex;
  gap: 15px;
  padding: 15px 0 15px 15px;
  width: 100%;
  overflow: scroll;
}

@media screen and (max-width: 800px) {
  .best-selling-heading h2 {
    font-size: 2rem;
  }
}
